<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_front_send_response_before">
        <observer name="pmclain_layoutdebug_response" instance="Pmclain\LayoutDebug\Observer\Response" />
    </event>
    <event name="layout_generate_blocks_after">
        <observer name="pmclain_layoutdebug_layout" instance="Pmclain\LayoutDebug\Observer\Layout" />
    </event>
</config>